@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Home Page of CMS</h2>
        <p>
            CMS landing page
        </p>        
    </div>    
</div>